<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/style.css" />
    <title>About</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="index.html">Home</a>
        </li>
        <li class="active">
          <a href="about.html">About</a>
        </li>
        <li>
          <a href="works.html">Works</a>
        </li>
        <li>
          <a href="gallery.html">Gallery</a>
        </li>
      </ul>
    </nav>
    <main>
      <section>
        <img
          src="https://avatars.githubusercontent.com/u/115066736?v=4"
          alt="person"
        />
        <ul>
          <li>Fiodor G</li>
          <li>Sehr-Laute-Allee 123</li>
          <li>12345 Berlin</li>
        </ul>
        <p class="like">I like:</p>
        <p>
          <span>😼</span>, <span>🧑‍💻</span>, <span>🚲</span>, <span>🌅</span>
        </p>
      </section>
    </main>
    <footer>
      <a href="https://github.com/iamfio/lab-express-basic-site">Github Repo</a>
    </footer>
  </body>
</html>
