<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./styles/style.css" />
    <title>About Adriano Celentano</title>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand bg-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul
            class="navbar-nav mx-auto my-2 order-0 order-md-1 position-relative"
          >
            <li class="nav-item px-0 px-sm-2">
              <a href="index.html" class="nav-link">Home</a>
            </li>
            <li class="nav-item px-0 px-sm-2">
              <a href="about.html" class="nav-link active">About</a>
            </li>
            <li class="nav-item px-0 px-sm-2">
              <a href="works.html" class="nav-link">Works</a>
            </li>
            <li class="nav-item px-0 px-sm-2">
              <a href="gallery.html" class="nav-link">Gallery</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="index-container">
      <main class="container">
        <div class="row py-sm-3">
          <div class="col-12 col-md-6">
            <section class="pt-sm-5 p-2 p-lg-5">
              <h2 class="display-1 pt-sm-2">Career</h2>
              <p class="pt-lg-5 text-leading">
                Heavily influenced by Elvis Presley and the 1950s rock 'n' roll
                scene as well as by American actor Jerry Lewis, Celentano
                started playing in a rock and roll band with Giorgio Gaber and
                Enzo Jannacci. With Gaber and Jannacci he was spotted by Jolly
                Records A&R Executive Ezio Leoni, who signed him to his first
                recording contract and co-authored with Celentano some of his
                greatest early hits, including "24.000 Baci", "Il Tuo Bacio e'
                Come un Rock", and "Si e' Spento il Sole". He first appeared on
                screen in Ragazzi del Juke-Box, a 1959 Italian musical film
                directed by Lucio Fulci with music by Ezio Leoni. In 1960,
                Federico Fellini cast him as a rock and roll singer in his film
                La Dolce Vita.
              </p>
            </section>
          </div>
          <div class="col-12 col-md-6">
            <img src="images/c2.jpg" alt="Adriano" class="img-fluid" />
          </div>
        </div>

        <div class="row py-sm-3">
          <div class="col-12 col-md-6">
            <img src="images/c3.jpg" alt="Adriano" class="img-fluid" />
          </div>
          <div class="col-12 col-md-6">
            <section class="pt-sm-5 p-2 p-lg-5">
              <p class="pt-lg-5 text-leading">
                In 1962, Celentano founded the Italian record label Clan
                Celentano (which is still active) with many performers such as
                Don Backy, Ola & the Janglers, Ricky Gianco, Katty Line, Gino
                Santercole, Fred Bongusto and his wife Claudia Mori.
              </p>
              <p class="pt-lg-5 text-leading">
                As a film director, Celentano frequently cast Ornella Muti,
                Eleonora Giorgi and his wife Claudia Mori. He and Mori have
                three children, Rosita, Giacomo and Rosalinda Celentano.
                Rosalinda is most notable to worldwide audiences for playing
                Satan in Mel Gibson's The Passion of the Christ. Celentano has
                also hosted several Italian television shows.
              </p>
            </section>
          </div>
        </div>

        <div class="row py-sm-3">
          <div class="col-12 col-md-6">
            <section class="pt-sm-5 p-2 p-lg-5">
              <p class="pt-lg-5 text-leading">
                Celentano has retained his popularity in Italy for over 50
                years, selling millions of records and appearing in numerous TV
                shows and movies. As part of his TV and movie work, he created a
                comic genre, with a characteristic walk and facial expressions.
                For the most part, his films were commercially successful;
                indeed, in the 1970s and part of the 1980s, his low-budget
                movies were top of Italian box office rankings. As an actor,
                critics point to Serafino (1968), directed by Pietro Germi, as
                his best performance.
              </p>
              <p class="pt-lg-5 text-leading">
                He has released 40 albums, consisting of 29 studio albums, three
                live albums, and eight compilations. His most popular songs are
                "La coppia piu' bella del mondo", which sold over one million
                copies, and was awarded a gold disc; "Azzurro" (1968), written
                by Paolo Conte; "Svalutation" (1976), and
                "Prisencolinensinainciusol" (1972), which was written to mimic
                the way English sounds to non-English speakers despite being
                almost entirely nonsense.
              </p>
            </section>
          </div>
          <div class="col-12 col-md-6">
            <img src="images/c4.jpg" alt="Adriano" class="img-fluid" />
          </div>
        </div>

        <div class="row py-sm-3">
          <div class="col-12 col-md-6">
            <img src="images/c5.webp" alt="Adriano" class="img-fluid" />
          </div>
          <div class="col-12 col-md-6">
            <section class="pt-sm-5 p-2 p-lg-5">
              <p class="pt-lg-5 text-leading">
                Celentano was referenced in the 1979 Ian Dury and the Blockheads
                song and single, "Reasons to be Cheerful, Part 3", as one of the
                aforementioned "reasons to be cheerful", and in Fellini's 1986
                film Ginger and Fred.
              </p>
              <p class="pt-lg-5 text-leading">
                After 18 years without live performances, Celentano's 2012 live
                concert was broadcast on Mediaset channel Canale 5, attracting
                over 9 million viewers.
              </p>
              <p class="pt-lg-5 text-leading">
                Celentano has been a vegetarian since 2005 and is a strenuous
                defender of animal rights. A football fan, Celentano is a
                well-known Inter Milan supporter.
              </p>
            </section>
          </div>
        </div>
      </main>
    </div>

    <footer id="sticky-footer" class="flex-shrink-0 py-4">
      <div class="container text-center">
        <p class="text-center text-muted">
          <span class="text-muted">created by: </span>
          <a href="https//github.com/iamfio" class="link-dark">Fiodor - 2022</a>
        </p>
      </div>
    </footer>
  </body>
</html>
