<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/style.css" />
    <title>Gallery</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <a href="about.html">About</a>
        </li>
        <li>
          <a href="works.html">Works</a>
        </li>
        <li class="active">
          <a href="gallery.html">Gallery</a>
        </li>
      </ul>
    </nav>
    <main>
      <h1>Gallery</h1>
      <section class="container">
        <div class="row">
          <img
            src="https://octodex.github.com/images/vinyltocat.png"
            alt="octo"
            class="item"
          />
          <img
            src="https://octodex.github.com/images/yogitocat.png"
            alt="octo"
            class="item"
          />
        </div>
        <div class="row">
          <img
            src="https://octodex.github.com/images/catstello.png"
            alt="octo"
            class="item"
          />
          <img
            src="https://octodex.github.com/images/mcefeeline.jpg"
            alt="octo"
            class="item"
          />
        </div>
        <div class="row">
          <img
            src="https://octodex.github.com/images/vinyltocat.png"
            alt="octo"
            class="item"
          />
          <img
            src="https://octodex.github.com/images/yogitocat.png"
            alt="octo"
            class="item"
          />
        </div>
      </section>
    </main>
    <footer>
      <a href="https://github.com/iamfio/lab-express-basic-site">Github Repo</a>
    </footer>
  </body>
</html>
