<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/style.css" />
  <title>Works</title>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a href="about.html">About</a>
      </li>
      <li class="active">
        <a href="works.html">Works</a>
      </li>
      <li>
        <a href="gallery.html">Gallery</a>
      </li>
    </ul>
  </nav>
  <main>
    <section>
      <img src="https://octodex.github.com/images/Fintechtocat.png" alt="person" />
      <h4>Some works:</h4>
      <ul>
        <li>
          <a href="https://github.com/iamfio/pet-a-cat">Pet-A-Cat Game</a>
        </li>
        <li>
          <a href="https://github.com/iamfio/lab-dom-ironhack-cart">JS Cart Lab</a>
        </li>
        <li>
          <a href="https://github.com/iamfio/lab-dom-pizza-builder">JS Pizza Builder</a>
        </li>
        <li>
          <a href="https://github.com/iamfio/ironhack-lab-p5-treasure-hunt">p5js Treasure Hunt Game</a>
        </li>
      </ul>
    </section>
  </main>
  <footer>
    <a href="https://github.com/iamfio/lab-express-basic-site">Github Repo</a>
  </footer>
</body>
</html>